.DS_Store

xcuserdata/
xcshareddata/

!*/xcshareddata/
*/xcshareddata/*
!*/xcshareddata/IDETemplateMacros.plist

!EquinoxCore/EquinoxCore.xcodeproj/xcshareddata/
!EquinoxCore/EquinoxCore.xcodeproj/xcshareddata/xcschemes/
EquinoxCore/EquinoxCore.xcodeproj/xcshareddata/xcschemes/*
!EquinoxCore/EquinoxCore.xcodeproj/xcshareddata/xcschemes/EquinoxCoreTests.xcscheme
